version: '3'

services:
  backend:
    #    image: anupamdutta3/backend-testing-image:latest
    image: anupamdutta3/backend-10
    ports:
      - "8080:8080"
    environment:
      DB_HOST: ${DB_HOST}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_PORT: ${DB_PORT}
      ALLOWED_ORIGINS: ${ALLOWED_ORIGINS}
    depends_on:
      - frontend

  frontend:
    #    image: anupamdutta3/frontend-image:latest
    image: anupamdutta3/frontend-10
    ports:
      - "80:80"
    environment:
      REACT_APP_SERVER_URL: http://3.90.66.222:8080/employees # ${REACT_APP_SERVER_URL}